
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Women World</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Right combination of natural, scientific, financial, managerial and operational skills to withstand the winds of change, A change towards using natural plant based products and put A Big stop towards chemical products">
    <meta name="keywords" content="Plant based Nutrition combining Modern Science &amp; Ancient Ayurveda. From Meal Replacements, Collagen to Vegan Protein - we bring you Raw, Natural and Clean Nutrition">
    <meta name="author" content="Anil Choudhary">
    <!-- Favicon icon -->    
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>   
    <link href="~/css/neelkanth.css" rel="stylesheet" />
    <link href="~/css/icofont.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    
    <script type="text/javascript">
        var myVar;

        function myFunction() {
            myVar = setTimeout(showPage, 1000);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";       
        }
    </script>

    <script type="text/javascript">
        function searchoperation() {
            var search = $('#txtsearch').val();
            if (search != "") {
                //
                    // call Ajax Method
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SeachProduct","Home")',
                        dataType: 'json',
                        data: {SearchValue:search},
                        success: function (data) {
                        window.location.href = "@Url.Action("Shopping", "Home")";
                        //DisplayData(data);
                        }
                    });
                ///
            }
        }
    </script>
</head>
<body onload="myFunction()" style="margin:0;">


    <!-- For Loader -->
    <div id="loader"></div>
    <!-- Header Section -->
    <header>
        <section id="topbar">
            <marquee><span class="icofont icofont-alarm"> </span> @Wom.Basic.RunningMessage</marquee>
        </section>
        <section id="searchbar">
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 mb-2 logo-area">
                        <img src="~/UploadFiles/Common/Women_World_Logo.png" />                       
                        @*<p class="slow-gun">A whole new world, <br />A whole new look</p>*@
                    </div>
                    <div class="col-md-5 pt-5">
                        <div class="row">
                            <div class="col-md-10 col-10 pr-zero">
                                <input id="txtsearch" type="text" class="search-box" />
                            </div>
                            <div class="col-md-2 col-2 pl-zero">
                                <button class="search-button" onclick="searchoperation();" type="button"><i class="icofont-ui-search icofont-2x"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 cart-area">
                        <div class="row">
                            <div class="col-md-12 login-text">
                                My Cart <i style="color:#BCD000" class="icofont-cart"> </i>
                                <a href="@Url.Action("ShoppingChart", "Home")" style="text-decoration:none">  <span style="color:white; background-color:red; position:relative;top:-10px;" class="badge badge-notify">@Session["ItemCount"]</span> </a>

                                <a href="@Url.Action("Index", "Login")" style="text-decoration:none">Login</a> <i style="color:#BCD000" class="icofont-user"></i>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-12 toll-free">
                                18005648235
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="menubar">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        @*<a class="navbar-brand" href="#">Navbar</a>*@
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mainnav mt-2" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-4 mb-sm-2 mb-lg-0">
                                <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                                <li><a href="#">HOT</a></li>
                                <li><a href="#">SHOP</a> </li>
                                <li><a href="#">BEAUTY</a></li>
                                <li><a href="#">ABOUT US</a></li>
                                <li><a href="#">CONTACT US</a></li>
                                @*<li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Dropdown
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </li>*@
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </section>
        <section class="mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>

                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>

                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>
                    <div class="col-md-1 col-3 text-center">
                        <img src="~/UploadFiles/sample1.jpg" class="img-fluid img-thumbnail" />
                        <p>kurtas</p>
                    </div>

                </div>
            </div>
        </section>
    </header>
    <!-- Render Body Start -->
    <section>
        @RenderBody()        
    </section>
  
    <!-- Render Body End -->
    <!-- Footer Section -->
    <footer class="animated animate-bounce">
        <section class="footer-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mt-4 mb-4">
                        <div class="col-md-12 green-underline">
                            <h5>HEAD OFFICE</h5>
                            <p>
                                G. Womkanth Pharmacy India Pvt. Ltd. <br />
                                1229, Ukhari Road, Jabalpur(MP)-482002
                            </p>
                        </div>
                        <div class="col-md-12 green-underline">
                            <h5>FACTORY</h5>
                            <p>
                                G. Womkanth Pharmacy India Pvt. Ltd. <br />
                                13/41, Industrial Area, Richhai, Jabalpur(MP)
                            </p>
                        </div>
                        <div class="col-md-12 green-underline">
                            <h5>CONTACT</h5>
                            <p>
                                Toll Free : 18005723221 <br />
                                Mobile: 7401307307 <br />
                                Email: neelkanthpharmacy@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row mt-4 mb-4">
                            <div class="col-md-12 green-underline">
                                <h5>WRIGHT US</h5>
                            </div>
                            <div>

                                @using (Html.BeginForm("Query", "Home", FormMethod.Post, new { id = "queryform", name = "queryform" }))
                                {
                                <div class="form-group row mb-2">
                                <div class="col-sm-12">
                                <input id="customername" name="customername" type="text" class="form-control rounded-0" placeholder="Your Name">
                                </div>
                                </div>
                                <div class="form-group row mb-2">
                                <div class="col-sm-12">
                                <textarea id="address" name="address" placeholder="Your Address" rows="1" class="form-control rounded-0"></textarea>
                                </div>
                                </div>
                                <div class="form-group row mb-2">
                                <div class="col-sm-6 mb-2">
                                <input id="mobile" name="mobile" type="text" class="form-control rounded-0" placeholder="Mobile">
                                </div>
                                <div class="col-sm-6">
                                <input id="email" name="email" type="text" class="form-control rounded-0" placeholder="Email">
                                </div>
                                </div>
                                <div class="form-group row mb-2">
                                <div class="col-sm-12">
                                <textarea id="query" name="query" placeholder="Your Query" rows="1" class="form-control rounded-0"></textarea>
                                </div>
                                </div>
                                <div class="form-group row">
                                <div class="col-sm-12 text-end">
                                <input type="submit" value="Submit Now" class="more-product rounded-0" />
                                </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <ul class="footer-list">
                            <li> <a href="@Url.Action("ShippingDeliveryPolicy", "Home")" class="footer-list-item"><i class="icofont-circled-right orange-bg"></i> Shipping & Delivery Policy </a></li>
                            <li> <a href="@Url.Action("DisclaimerPolicy", "Home")" class="footer-list-item"><i class="icofont-circled-right orange-bg"></i> Disclaimer Policy </a></li>
                            <li> <a href="@Url.Action("PrivacyPolicy", "Home")" class="footer-list-item"><i class="icofont-circled-right orange-bg"></i> Privacy Policy </a></li>
                            <li> <a href="@Url.Action("RefundPolicy", "Home")" class="footer-list-item"><i class="icofont-circled-right orange-bg"></i> Cancellation & Refund Policy </a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">

                        <ul class="footer-list">
                            <li> <a href="#" class="footer-list-item"><i class="icofont-circled-right orange-bg"></i> Health Tips </a></li>
                            <li> <a href="@Url.Action("HealthCard", "Home")" class="footer-list-item"><i class="icofont-circled-right orange-bg"></i> Health Cards </a></li>
                            <li> <a href="#" class="footer-list-item"><i class="icofont-circled-right orange-bg"></i> Investors </a></li>
                            <li> <a href="#" class="footer-list-item"><i class="icofont-circled-right orange-bg"></i> News and Events </a></li>
                        </ul>

                       
                    </div>
                    <div class="col-md-4 mt-2 mb-3 social-icon-box">
                        <a class="no-link-white" href="https://www.facebook.com/114386233813349/posts/116999023552070/?sfnsn=wiwspmo">
                            <div class="text-center social-icon facebook-bg">
                                <i class="icofont-facebook icofont-3x"></i>
                            </div>
                        </a>
                        <a class="no-link-white" href="https://twitter.com/HealthWomkanth">
                            <div class="text-center social-icon twitter-bg">
                                <i class="icofont-twitter icofont-3x"></i>
                            </div>
                        </a>
                        <a class="no-link-white" href="https://www.youtube.com/channel/UCEemVzSplhnOwhWaakfH-Xw">
                            <div class="text-center social-icon youtube-bg">
                                <i class="icofont-youtube icofont-3x"></i>
                            </div>
                        </a>
                        <a class="no-link-white" href="#">
                            <div class="text-center social-icon instagram-bg">
                                <i class="icofont-instagram icofont-3x"></i>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </section>
        <section class="footer-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Copyright © 2016, G. Womkanth Pharmacy India Pvt. Ltd.  All Rights Reserved.
                    </div>
                </div>
            </div>
        </section>

    </footer>

    <!-- For Sticky Social Icon -->
    <div class="sticky-icon-bar">
        <a href="https://api.whatsapp.com/send?phone=917401307307&text=Start%20Whatsapp%20Chating" target="_blank" class="whatsup-bg"><i class="icofont-whatsapp"></i></a>
        @*<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>*@
    </div>
</body>
</html>
