@{
    Layout = "~/Views/Shared/_Customer.cshtml";
}

<!-- C3 chart -->
<link rel="stylesheet" href="~/adminty-master/files/bower_components/c3/css/c3.css" type="text/css" media="all">
<!-- Style.css -->
<link rel="stylesheet" type="text/css" href="~/adminty-master/files/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="~/adminty-master/files/assets/css/jquery.mCustomScrollbar.css">

<!-- Required Jquery -->
<script type="text/javascript" src="~/adminty-master/files/bower_components/jquery/js/jquery.min.js"></script>
<!-- c3 chart js -->
<script src="~/adminty-master/files/bower_components/d3/js/d3.min.js"></script>
<script src="~/adminty-master/files/bower_components/c3/js/c3.js"></script>
<!-- Custom js -->
@*<script src="~/adminty-master/files/assets/pages/chart/c3/c3-custom-chart.js"></script>*@
@*<script src="~/adminty-master/files/assets/js/pcoded.min.js"></script>
<script src="~/adminty-master/files/assets/js/vartical-layout.min.js"></script>
<script src="~/adminty-master/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>*@

<!-- Pie Chart -->
@*<script type="text/javascript">
    $(document).ready(function() {
        /*Pie Chart*/       
    var chart = c3.generate({
        bindto: '#chart3',
        data: {
            // iris data from R
            columns: [
                ['Mobile', 130],
                ['Tablet', 150],
                ['Desktop', 120],
            ],
            type: 'pie',
            onclick: function(d, i) { console.log("onclick", d, i); },
            onmouseover: function(d, i) { console.log("onmouseover", d, i); },
            onmouseout: function(d, i) { console.log("onmouseout", d, i); }
        },
        color: {
            pattern: ['#1ABC9C', '#4C5667','#AB8CE4','#00C292']
        },
    });  

 /*donut chart*/
    var chart = c3.generate({
        bindto: '#chart2',
        data: {
            columns: [
                ['Total Payment', @ViewBag.Total],
                ['Reciept Payment', @ViewBag.Reciept],
                ['Pending Payment', @ViewBag.Pending],
            ],
            type: 'donut',
            onclick: function(d, i) { console.log("onclick", d, i); },
            onmouseover: function(d, i) { console.log("onmouseover", d, i); },
            onmouseout: function(d, i) { console.log("onmouseout", d, i); }
        },
        color: {
            pattern: ['#4C5667', '#1ABC9C','#3ABC25']
        },
        donut: {
            title: "Payment Summary"
        }
    });

         /*chart_bar_stacked*/
    var chart = c3.generate({
        bindto: '#chart1',
        data: {
            columns: [
                ['Jan', 250],
                ['Feb', 50],
                ['Mar', 125],
                ['Apr', 600],
                ['May', 70],
                ['Jun', 90],
                ['Jul', 65],
                ['Aug', 150],
                ['Sep', 750],
                ['Oct', 35],
                ['Nov', 85],
                ['Dec', 180],
            ],
            type: 'bar',
            groups: [
                ['data1']
            ],

        },
        color: {
            pattern: ['#c0392b', '#9b59b6', '#2980b9','#1abc9c','#f1c40f','#34495e','#808000','#008080','#008000','#000080','#FF00FF','#999999']
        },
        grid: {
            y: {
                lines: [{ value: 0 }]
            }
        }
    });

        /*Stacked Area Chart*/
    var chart = c3.generate({
        bindto: '#chart',
        data: {
            columns: [
                ['data1', 300, 350, 500, -10, 0, 320],
                ['data2', 130, 100, 180, 200, 150, 50]
            ],
            types: {
                data1: 'area-spline',
                data2: 'area-spline'
                // 'line', 'spline', 'step', 'area', 'area-step' are also available to stack
            },
            colors: {
                data1: 'rgba(1, 192, 200, 0.92)',
                data2: 'rgba(26, 188, 156, 0.93)'
            },
            groups: [
                ['data1', 'data2']
            ]
        }
    });

});
</script>*@

@*<div class="page-header animated bounceInRight">
    <div class="card">
        <div class="card-block bg-primary">
            <div class="row ">
                <div class="col-lg-4">
                    <h5 class="text-uppercase font-weight-bold">Dashbaord</h5>
                </div>
                <div class="col-lg-8 align-items-end">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "Dashboard")"> <i class="icofont icofont-home" style="color:white"></i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "Dashboard")" style="color:white">Home / Dashboard</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <!-- user card  start -->
    @*<div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="row" style="padding:15px">
                <div class="col-md-6 col-xl-3">
                    <div class="card user-widget-card bg-c-blue">
                        <div class="card-block">
                            <i class="feather icon-user bg-simple-c-blue card1-icon"></i>
                            <h4>@ViewBag.Customers</h4>
                            <p>Customer</p>
                            <a href="@Url.Action("Index", "Customer")" class="more-info">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card user-widget-card bg-c-pink">
                        <div class="card-block">
                            <i class="feather icon-home bg-simple-c-pink card1-icon"></i>
                            <h4>@ViewBag.Products</h4>
                            <p>Product</p>
                            <a href="@Url.Action("Index", "Product")" class="more-info">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card user-widget-card bg-c-green">
                        <div class="card-block">
                            <i class="feather icon-alert-triangle bg-simple-c-green card1-icon"></i>
                            <h4>@ViewBag.Category</h4>
                            <p>Category</p>
                            <a href="@Url.Action("Index", "Category")" class="more-info">More Info</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card user-widget-card bg-c-yellow">
                        <div class="card-block">
                            <i class="feather icon-twitter bg-simple-c-yellow card1-icon"></i>
                            <h4>@ViewBag.Orders</h4>
                            <p>Orders</p>
                            <a href="@Url.Action("OrderAll", "Order")" class="more-info">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- order  start -->
    @*<div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center m-l-0">
                    <div class="col-auto">
                        <i class="feather icon-book f-30 text-c-lite-green"></i>
                    </div>
                    <div class="col-auto">
                        <h6 class="text-muted m-b-10">Enquiry</h6>
                        <h2 class="m-b-0">379</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center m-l-0">
                    <div class="col-auto">
                        <i class="feather icon-feather f-30 text-c-green"></i>
                    </div>
                    <div class="col-auto">
                        <h6 class="text-muted m-b-10">Web Visitors</h6>
                        <h2 class="m-b-0">205</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center m-l-0">
                    <div class="col-auto">
                        <i class="feather icon-users f-30 text-c-pink"></i>
                    </div>
                    <div class="col-auto">
                        <h6 class="text-muted m-b-10">Work Allotted</h6>
                        <h2 class="m-b-0">5984</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center m-l-0">
                    <div class="col-auto">
                        <i class="feather icon-users f-30 text-c-pink"></i>
                    </div>
                    <div class="col-auto">
                        <h6 class="text-muted m-b-10">Work Completed</h6>
                        <h2 class="m-b-0">5984</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- user card  end -->
    <!-- order  start -->
    @*<div class="col-md-12 col-xl-4">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
                <h6>Revenue</h6>
                <h2>$42,562</h2>
                <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10"></i></p>
                <i class="card-icon feather icon-filter"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card bg-c-blue order-card">
            <div class="card-block">
                <h6>Orders Received</h6>
                <h2>486</h2>
                <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-down"></i></p>
                <i class="card-icon feather icon-users"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card bg-c-green order-card">
            <div class="card-block">
                <h6>Total Sales</h6>
                <h2>1641</h2>
                <p class="m-b-0">$5,032 <i class="feather icon-arrow-down m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-up"></i></p>
                <i class="card-icon feather icon-radio"></i>
            </div>
        </div>
    </div>*@
    <!-- order  end -->
    <!-- stack Area Stack  -->
    @*<div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <h5>Order Category Wise</h5>
            </div>
            <div class="card-block">
                <div id="chart"></div>
            </div>
        </div>
    </div>*@

    <!-- statustic-card start -->
    @*<div class="col-md-12 col-lg-4">
        <div class="card feed-card">
            <div class="card-header">
                <h5>Feeds</h5>
            </div>
            <div class="card-block">
                <div class="row m-b-30">
                    <div class="col-auto p-r-0">
                        <i class="feather icon-bell bg-simple-c-blue feed-icon"></i>
                    </div>
                    <div class="col">
                        <h6 class="m-b-5">You have 3 pending tasks. <span class="text-muted f-right f-13">Just Now</span></h6>
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col-auto p-r-0">
                        <i class="feather icon-shopping-cart bg-simple-c-pink feed-icon"></i>
                    </div>
                    <div class="col">
                        <h6 class="m-b-5">New order received <span class="text-muted f-right f-13">Just Now</span></h6>
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col-auto p-r-0">
                        <i class="feather icon-file-text bg-simple-c-green feed-icon"></i>
                    </div>
                    <div class="col">
                        <h6 class="m-b-5">You have 3 pending tasks. <span class="text-muted f-right f-13">Just Now</span></h6>
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col-auto p-r-0">
                        <i class="feather icon-shopping-cart bg-simple-c-pink feed-icon"></i>
                    </div>
                    <div class="col">
                        <h6 class="m-b-5">New order received <span class="text-muted f-right f-13">Just Now</span></h6>
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col-auto p-r-0">
                        <i class="feather icon-file-text bg-simple-c-green feed-icon"></i>
                    </div>
                    <div class="col">
                        <h6 class="m-b-5">You have 3 pending tasks. <span class="text-muted f-right f-13">Just Now</span></h6>
                    </div>
                </div>

            </div>
        </div>
    </div>*@
    <!-- statustic-card start -->
    <!-- Bar Stack  -->
    @*<div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <h5>chart bar stacked</h5>

            </div>
            <div class="card-block">
                <div id="chart1"></div>
            </div>
        </div>
    </div>*@

    <!-- statustic-card start -->
    @*<div class="col-md-12 col-lg-4">
        <div class="card per-task-card">
            <div class="card-header">
                <h5>Your Tasks</h5>
            </div>
            <div class="card-block">
                <div class="row per-task-block text-center">
                    <div class="col-6">
                        <div data-label="45%" class="radial-bar radial-bar-45 radial-bar-lg radial-bar-primary"></div>
                        <h6 class="text-muted">Finished</h6>
                        <p class="text-muted">642</p>
                        <button class="btn btn-primary btn-round btn-sm">Manage</button>
                    </div>
                    <div class="col-6">
                        <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-lg radial-bar-primary"></div>
                        <h6 class="text-muted">Remaining</h6>
                        <p class="text-muted">495</p>
                        <button class="btn btn-primary btn-outline-primary btn-round btn-sm">Manage</button>
                    </div>
                </div>

            </div>
        </div>        
    </div>*@
    <!-- statustic-card start -->

    @*<div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Payment Statistics</h5>

            </div>
            <div class="card-block">
                <div id="chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5>Visitor Statistics</h5>
            </div>
            <div class="card-block">
                <div id="chart3"></div>
            </div>
        </div>
    </div>*@
</div>
