<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="#!">
                <i class="feather icon-menu"></i>
            </a>
            <a href="@Url.Action("Dashboard", "Admin")">
               
                <img src="~/adminty-master/files/assets/images/logo.png" class="img-fluid" alt="Theme-Wom" />
            </a>
            <a class="mobile-options">
                <i class="feather icon-more-horizontal"></i>
            </a>
        </div>

        <div class="navbar-container container-fluid">
            <ul class="nav-left">
                <li class="header-search">
                    <div class="main-search morphsearch-search">
                        <div class="input-group">
                            <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                            <input type="text" class="form-control">
                            <span class="input-group-addon search-btn"><i class="feather icon-search"></i></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#!" onclick="javascript:toggleFullScreen()">
                        <i class="feather icon-maximize full-screen"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                @*<li class="header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-activity"></i>
                            <span class="badge bg-c-pink">@Wom.DataLib.GetCellItems("Select Count(SupplyOrderID) From SupplyOrderModels Where Progress < 100")</span>
                        </div>
                        <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <h6>Supply Order Pending</h6>
                                <a href="@Url.Action("PendingSupplyOrder","SupplyOrder")"> <label class="label label-danger">See List</label> </a>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center img-radius" src="~/adminty-master/files/assets/images/supplyorder.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Supply Order Due</h5>
                                        <p class="notification-msg">@Wom.DataLib.GetCellItems("Select Count(SupplyOrderID) From SupplyOrderModels Where Progress < 100") Supply Orders are due for supply.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>*@
                @*<li class="header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-briefcase"></i>
                            <span class="badge bg-c-blue">@Wom.DataLib.GetCellItems("Select Count(CustomerID) From CustomerModels Where datepart(m, Birthday) = datepart(m, getdate())")</span>
                        </div>
                        <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <h6>Customer Birthday Wishes</h6>
                                <a href="@Url.Action("BirthdayWish","Customer")"> <label class="label label-danger">See List</label> </a>                               
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center img-radius" src="~/adminty-master/files/assets/images/supplyorder.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Birthday</h5>
                                        <p class="notification-msg">@Wom.DataLib.GetCellItems("Select Count(CustomerID) From CustomerModels Where datepart(m, Birthday) = datepart(m, getdate())") customers has upcomming birthday.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>*@
                @*<li class="header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-heart"></i>
                            <span class="badge bg-c-green">@Wom.DataLib.GetCellItems("Select Count(CustomerID) From CustomerModels Where datepart(m, Anniversary) = datepart(m, getdate())")</span>
                        </div>
                        <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <h6>Customer Anniversary Wishes</h6>
                                <a href="@Url.Action("AnniversaryWish","Customer")"> <label class="label label-danger">See List</label> </a>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center img-radius" src="~/adminty-master/files/assets/images/supplyorder.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Anniversary</h5>
                                        <p class="notification-msg">@Wom.DataLib.GetCellItems("Select Count(CustomerID) From CustomerModels Where datepart(m, Anniversary) = datepart(m, getdate())") customers has upcomming anniversary.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>*@
                @*<li class="header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-box"></i>
                            <span class="badge bg-c-pink">@Wom.Controllers.StockController.CriticalStockCount()</span>
                        </div>
                        <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <h6>Low Stock</h6>
                                <a href="@Url.Action("CriticalStock", "Stock")">
                                    <label class="label label-danger">See List</label>
                                </a>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center img-radius" src="~/adminty-master/files/assets/images/lowstock.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Prodcuts / Items need to purchase</h5>
                                        <p class="notification-msg">@Wom.Controllers.StockController.CriticalStockCount() products/items has in critical leve need to purchase.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>*@
                <li class="user-profile header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/adminty-master/files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                            <span>@Session["DisplayName"]</span>
                            <i class="feather icon-chevron-down"></i>
                        </div>
                        <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li>
                                <a href="@Url.Action("Index", "Setting")">
                                    <i class="feather icon-settings"></i> Settings
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("UserProfile", "User")">
                                    <i class="feather icon-user"></i> Profile
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Womut", "Admin")">
                                    <i class="feather icon-log-out"></i> Womut
                                </a>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>