@model Wom.Models.SalesModel
@{
    Layout = "~/Views/Shared/_Client.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.10.2.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/ajax-modules.js"></script>
<!-- Get Sale No-->
<script type="text/javascript">
    $(function () {
        $("#CompanyID").change(function () {
            var compid = $('option:selected', this).val().toString();
            if (compid != "") {
                $.ajax({
                    type: "POST",
                    url: "/Sale/GetSaleNo",
                    dataType: "json",
                    data: { CompID: compid },
                    success: function (response) {
                        var str = response;
                        $("#SerialNo").val(str);
                    }
                });

            }
        });
    });
</script>
<script type="text/javascript">
    // define here call here
    function LoadTransLocalData() {
        // aign here
        $.ajax({
            type: 'POST',
            url: '@Url.Action("LoadTransLocalData")',
            dataType: 'json',
            success: function (data) {
                DisplayData(data);
                CustomerDetailsFill(customerid);
            }
        });
    }
</script>
@if (ViewBag.TransLocalData != null)
{
    // call here
    <script type="text/javascript">
      @Html.Raw(ViewBag.TransLocalData)
    </script>
}
<script>
    $(function () {
        $("#SalesDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy"
        });
        DisplayData(data);
    });
</script>
<script type="text/javascript">
    // Open Customer Model
    function addCustomer() {
        $('#CustomerModel').modal('show');
    }
    // Close Customer Model
    function closeCustomer() {
        $('#CustomerModel').modal('hide');
    }
    // Clear Customer Model
    function clearCustomer() {
        $("#CustomerHiddenID").val("0");
        $("#CustomerName").val("");
        $("#Address").val("");
        $("#State").val("");
        $("#City").val("");
        $("#Mobile").val("");
        $("#WhatsApp").val("");
        $("#Email").val("");
        $("#ProfessionID").val("");
    }
    function newCustomer() {
        $("#CustomerHiddenID").val("0");
        var customername = $("#CustomerName").val();
        $("#CustomerID").val(customername);
        $('#CustomerModel').modal('hide');
    }
</script>
<script type="text/javascript">
    SetInputNumeric('PQty');
    SetInputNumeric('PRate');
    SetInputNumeric('SQty');
    SetInputNumeric('SRate');
</script>
<!--for Customer Auto Complete-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#CustomerID").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Share/CustomerNameAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CustomerName, value: item.CustomerName, id: item.CustomerID };
                        }))
                    },
                })
            },
            select: function (event, ui) {
                CustomerDetailsFill(ui.item.id);
                $("#CustomerHiddenID").val(ui.item.id);
            }
        });
    })
</script>
<!--for Product Auto Complete-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#ProductName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Share/ProductAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ProductName, value: item.ProductName, id: item.ProductID };
                        }))
                    },
                })
            },
            select: function (event, ui) {
                AutoFillData(ui.item.id, "P");
                $("#ProductID").val(ui.item.id);
            }
        });
    })
</script>
<!--for Service Auto Complete-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#ServiceName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Share/ServiceAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ServiceName, value: item.ServiceName, id: item.ServiceID };
                        }))
                    },
                })
            },
            select: function (event, ui) {
                AutoFillData(ui.item.id, "S");
                $("#ServiceID").val(ui.item.id);
            }
        });
    })
</script>
<!--for Add Trans Data-->
<script type="text/javascript">
    function addItems(itype) {
        var itemtype = itype;
        var itemid, qty, rate;

        if (itemtype == "P") {
            itemid = $('#ProductID').val();
            qty= $('#PQty').val();
            rate= $('#PRate').val();
        }
        else {
            itemid = $('#ServiceID').val();
            qty= $('#SQty').val();
            rate= $('#SRate').val();
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddTransData")',
            dataType: 'json',
            data: {iID:itemid, iQty:qty, iRate:rate, iType:itemtype},
            success: function (data) {
                DisplayData(data);
            }
        });
    }
</script>
<!--for RemoveData-->
<script type="text/javascript">
    function removeItem(serno) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RemoveTransData")',
            dataType: 'json',
            data: {iSer:serno},
            success: function (data) {
                DisplayData(data);
            }
        });
    }
</script>
<!--for Display Data-->
<script type="text/javascript">
    function DisplayData(data) {
        var totalamt = 0;
        var totalgst = 0;
        var grandtotal = 0;
        var counter = 0;
        $("#estTable tbody tr").remove();
        var items = '';
        $.each(data, function (i, item) {
            counter = counter + 1;
            var rows = "<tr>"
                + "<td>" + counter + "</td>"
                + "<td>" + item.ItemName + "</td>"
                + "<td class='text-right'>" + item.Quantity + "</td>"
                + "<td class='text-right'>" + item.Unit + "</td>"
                + "<td class='text-right'>" + item.Rate + "</td>"
                + "<td class='text-right'>" + item.Amount + "</td>"
                + "<td class='text-right'>" + item.GSTSlab + "%</td>"
                + "<td class='text-right'>" + item.GSTAmount + "</td>"
                + "<td><button type='button' id=" + item.SerNo + " onclick='removeItem(this.id)' class='btn btn-danger btn-mini btn-outline-primary'><i class='icofont icofont-ui-close'></i></button></td>"
                + "</tr>";
            $('#estTable tbody').append(rows);
            totalamt = item.TotalAmount;
            totalgst = item.TotalGST;
            grandtotal = item.GrandTotal;
        });

        $('#estTable tbody').append('<tr><td colspan="5" align="right" > <b>Total</b></td><td class="text-right"><b style="color:green">' + totalamt + '</b></td><td></td><td class="text-right"><b style="color:green">' + totalgst + '</b></td><td></td></tr><tr><td colspan="7" class="text-right"><b>Grand Total</b></td><td class="text-right"><b style="color:green">' + grandtotal + '</b></td><td></td></tr>');
        // Clear Product & Service Data
        $('#ProductName').val("");
        $('#PQty').val("");
        $('#PUnit').val("");
        $('#PRate').val("");
        $('#PGST').val("");

        $('#ServiceName').val("");
        $('#SQty').val("");
        $('#SUnit').val("");
        $('#SRate').val("");
        $('#SGST').val("");

    }
</script>
<!--for Auto Fill Data-->
<script type="text/javascript">
    function AutoFillData(itemid, itype) {
        $.ajax({
            type: "POST",
            url: "/Share/AutoFillData",
            dataType: "json",
            data: { iID: itemid, iType: itype },
            success: function (response) {
                var str = response;
                var res = str.split("^");
                // if condition
                if (itype == "P") {
                    $('#PUnit').val(res[0]);
                    $('#PGST').val(res[1]);
                    $('#PRate').val(res[2]);
                    $('#PQty').val(1); // Default Value
                }
                else {
                    $('#SUnit').val(res[0]);
                    $('#SGST').val(res[1]);
                    $('#SRate').val(res[2]);
                    $('#SQty').val(1); // Default Value
                }
            }
        });
    }
</script>
<!--for Customer Model Auto Fill -->
<script type="text/javascript">
    function CustomerDetailsFill(customerid) {
        $.ajax({
            type: "POST",
            url: "/Share/CustomerDetailFill",
            dataType: "json",
            data: { CustomerID: customerid },
            success: function (response) {
                var str = response;
                var res = str.split("^");
                $('#CustomerHiddenID').val(res[0]);
                $('#CustomerName').val(res[1]);
                $('#Address').val(res[2]);
                $('#State').val(res[3]);
                $('#City').val(res[4]);
                $('#Mobile').val(res[5]);
                $('#WhatsApp').val(res[6]);
                $('#Email').val(res[7]);
                $('#ProfessionID').val(res[8]);
            }
        });
    }
</script>

<!-- Main Form -->
<div class="page-header animated bounceInRight">
    <div class="card">
        <div class="card-block bg-primary">
            <div class="row ">
                <div class="col-lg-4">
                    <h5 class="text-uppercase font-weight-bold">New Sale</h5>
                </div>
                <div class="col-lg-8 align-items-end">
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "Dashboard")"> <i class="icofont icofont-home" style="color:white"></i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "Sale ")" style="color:white">Home / Masters / New Sale</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Create", "Sale", FormMethod.Post))
{
    <div class="row animated bounceInUp">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9 col-9"><h3>@ViewData["PageTitle"]</h3></div>
                        <div class="col-md-3 col-3">
                            <a href="@Url.Action("Index", "Sale")" class="btn btn-primary btn-outline-primary float-right">
                                <i class="icofont icofont-user-alt-3"></i> Back to List
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-block">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h4 class="sub-title">Sale Details</h4>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.CompanyID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.CompanyID,
                             Wom.Controllers.EstimateController.GetCompanyList(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Invoice No", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("SerialNo", null, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.SalesDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.RefNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.RefNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RefNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                            @Html.Hidden("CustomerHiddenID", "0")
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary btn-outline-primary float-right" type="button" onclick="addCustomer();"><i class="icofont icofont-plus"></i></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <h4 class="sub-title">Product Details</h4>
                    <!-- Row start -->
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <div class="sub-title">Default</div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs  tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#product" role="tab">Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#service" role="tab">Service</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tabs card-block">
                                <div class="tab-pane active" id="product" role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label class="form-control-label">Product</label>
                                            @Html.TextBox("ProductName", null, new { @class = "form-control" })
                                            @Html.Hidden("ProductID")
                                        </div>
                                        <div class="col-sm-1">
                                            <label class="form-control-label">Quantity</label>
                                            @Html.TextBox("PQty", null, new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label class=" form-control-label">Unit</label>
                                            @Html.TextBox("PUnit", null, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label class=" form-control-label">Rate</label>
                                            @Html.TextBox("PRate", null, new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-1">
                                            <label class=" form-control-label">GST %</label>
                                            @Html.TextBox("PGST", null, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                        <div class="col-sm-1">
                                            <br />
                                            <button class="btn btn-primary btn-outline-primary float-right" type="button" onclick="addItems('P');"><i class="icofont icofont-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="service" role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label class="form-control-label">Service</label>
                                            @Html.TextBox("ServiceName", null, new { @class = "form-control" })
                                            @Html.Hidden("ServiceID")
                                        </div>
                                        <div class="col-sm-1">
                                            <label class="form-control-label">Quantity</label>
                                            @Html.TextBox("SQty", null, new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label class=" form-control-label">Unit</label>
                                            @Html.TextBox("SUnit", null, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label class=" form-control-label">Rate</label>
                                            @Html.TextBox("SRate", null, new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-1">
                                            <label class=" form-control-label">GST %</label>
                                            @Html.TextBox("SGST", null, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                        <div class="col-sm-1">
                                            <br />
                                            <button class="btn btn-primary btn-outline-primary float-right" type="button" onclick="addItems('S');"><i class="icofont icofont-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->

                    <div class='dt-responsive table-responsive'>
                        <table id='estTable' class='table table-striped table-bordered nowrap'>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>GST Slab</th>
                                    <th>GST Amount</th>
                                    <th>Del</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="submit" value="Create" class="btn btn-primary btn-out float-right" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Customer Model-->
    <div class="modal fade" id="CustomerModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-c-lite-green">
                    <h4 class="modal-title">Customer Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="sub-title">Customer</h4>
                    <div class="form-group row">
                        @Html.Label("", "Customer Names", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("CustomerName", null, new { placeholder = "Customer Name", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("", "Address", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("Address", null, new { placeholder = "Address", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("", "State", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("State", null, new { placeholder = "State", @class = "form-control" })
                        </div>
                        @Html.Label("", "City", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("City", null, new { placeholder = "City", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("", "Mobile", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("Mobile", null, new { placeholder = "Mobile", @class = "form-control" })
                        </div>
                        @Html.Label("", "WhatsApp", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("WhatsApp", null, new { placeholder = "Whatsup", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.Label("", "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("Email", null, new { placeholder = "Email", @class = "form-control" })
                        </div>
                        @Html.Label("", "Profession", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownList("ProfessionID", Wom.Controllers.ShareController.GetProfessionList(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="button" value="Close" onclick="closeCustomer();" class="btn btn-danger btn-out float-right" style="margin-right:5px;" />
                            <input type="button" value="Clear" onclick="clearCustomer();" class="btn btn-success btn-out float-right" style="margin-right:5px;" />
                            <input type="button" value="New Customer" onclick="newCustomer();" class="btn btn-primary btn-out float-right" style="margin-right:5px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


