@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Customer Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/ajax-modules.js"></script>
    <link href="~/Content/login-style.css" rel="stylesheet" />
    <link href="~/css/icofont.min.css" rel="stylesheet" />    
    <script>
        $(document).ready(function () {
            SetInputNumeric('Mobile');
        });
    </script>
    <script type="text/javascript">
        function refreshCaptcha() {
            $.ajax({
                type: "POST",
                url: "/Login/RefereceCaptcha",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: OnSuccess1,
                failure: function (data) {
                    alert(data.d);
                }
            });
        }
        function OnSuccess1(data) {
            d = new Date();
            $('#captcha').attr("src", "/UploadFiles/captcha.jpg?" + d.getTime());
        }
    </script>
</head>
<body class="bg-success">
    <div class="container">        
        <section class="row whitebox">
            <div class="col-sm-6 loginside">
                <div class="loginheader d-flex align-items-center justify-content-center">                    
                    <img src="~/UploadFiles/Common/Women_World_Logo.png" class="img-fluid" />
                </div>
                <div class="loginbody">


                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "cloginpasswordform", name = "cloginpasswordform" }))
                    {
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <i class="icofont icofont-user-alt-6 icofont-2x" style="color:#E12B38"></i>
                                <h4 class="text-uppercase float-right">Customer Login</h4>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.TextBox("Mobile", null, new { required = "Please enter mobile number", placeholder = "User Name / Mobile", @class = "form-control border-success rounded-0", maxlength = "10" })
                                @Html.ValidationMessage("Mobile")
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.TextBox("Password", null, new { required = "Please enter otp code", placeholder = "Password", @class = "form-control border-success rounded-0", type = "password" })
                                <span class="form-bar"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-4">
                                <img id="captcha" src="~/UploadFiles/captcha.jpg?" + new Date().getTime(); />
                            </div>
                            <div class="col-sm-6 col-6">
                                @Html.TextBox("CaptchaCode", null, new { required = "Please enter captcha code", placeholder = "Captcha Code", @class = "form-control border-success rounded-0", maxlength = "6" })
                                <span class="form-bar"></span>
                            </div>
                            <div class="col-sm-2  col-2">
                                <button id="refCpatcha" type="button" onclick="refreshCaptcha();" class="btn btn-outline-info rounded-0 float-right"><i class="icofont icofont-refresh"></i></button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="submit" value="Login" class="btn btn-outline-success rounded-0 float-right" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="pwd"><a href="@Url.Action("PasswordRecovery", "Login")">Forget Password</a></label>
                                <label for="pwd" class="float-right"><a href="@Url.Action("LoginOTP", "Login")">Login OTP</a></label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 picside">
                <div class="picsidefooter d-flex align-items-center justify-content-center">
                    <h5>Welcome to you Women World</h5>
                </div>
            </div>
        </section>
        <div class="row mt-3">
            <div class="col-sm-12 text-center">
                <h5><a class="sitelink" href="https://www.womensworldonline.com/">https://www.womensworldonline.com/</a></h5>                
            </div>
        </div>
    </div>
</body>
</html>
