@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/ajax-modules.js"></script>
<script>
    $(document).ready(function () {        
        SetInputNumeric('Mobile');       
    });
</script>
<script type="text/javascript">
    function refreshCaptcha() {
        $.ajax({
            type: "POST",
            url: "/Login/RefereceCaptcha",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: OnSuccess1,
            failure: function (data) {
                alert(data.d);
            }
        });
    }
    function OnSuccess1(data) {
        d = new Date();
        $('#captcha').attr("src", "/UploadFiles/captcha.jpg?" + d.getTime());
    }
</script>
<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <div class="md-float-material form-material">
                    
                    <div class="auth-box card w-50">
                        <div class="card-block">
                            <div class="text-center">                               
                                <img src="~/UploadFiles/piggies.png" class="img-fluid text-center"/>
                            </div>
                            <br />
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left">Login with Password</h3>
                                </div>
                            </div>
                            @using (Html.BeginForm("LoginPassword", "Login", FormMethod.Post,new {id="cloginpasswordform",name="cloginpasswordform" }))
                            {
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        @Html.TextBox("Mobile", null, new { required = "Please enter mobile number", placeholder = "User Name / Mobile", @class = "form-control", maxlength = "10" })
                                        @Html.ValidationMessage("Mobile")
                                        <span class="form-bar"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        @Html.TextBox("Password", null, new { required = "Please enter otp code", placeholder = "Password", @class = "form-control", type = "password" })
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <img id="captcha" src="~/UploadFiles/captcha.jpg?" + new Date().getTime(); />
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("CaptchaCode", null, new { required = "Please enter captcha code", placeholder = "Captcha Code", @class = "form-control", maxlength = "6" })
                                        <span class="form-bar"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="refCpatcha" type="button" onclick="refreshCaptcha();" class="btn btn-success text-center m-b-20 float-right"><i class="icofont icofont-refresh"></i></button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Login" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" />
                                    </div>
                                </div>
                            }
                            <p class="f-w-600 text-right"> <a href="@Url.Action("LoginOTP", "Login")">Login with OTP</a></p>
                            <p class="f-w-600 text-left"> <a href="@Url.Action("PasswordRecovery", "Login")">Forget Password</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>


