@using System.Data
@model System.Data.DataTable

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Wom.Models.dbContext db = new Wom.Models.dbContext();
    var maincategory = db.MainCategoryModels.Take(12).OrderByDescending(x => x.MainCategoryID).ToList();

    var slider = db.SliderModels.Where(x => x.IsDisplay == true).ToList();
    int i = 0; int j = 0; string act = "";

    string indicator = "active";
    string mcindicator = "active";
    int indicatorcount = 0;
}
<link href="~/css/product-slider.css" rel="stylesheet" />
<!-- Slider Section -->
<section id="sliderbar">
    <!-- Slider -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @foreach (var item in slider)
            {
                if (i == 0) { act = "active"; } else { act = ""; }
                <li data-target="#carouselExampleInterval" data-slide-to="@i" class="@act"></li>
                i++;
            }
        </ol>

        <div class="carousel-inner">
            @foreach (var item1 in slider)
            {
                if (j == 0) { act = "active"; } else { act = ""; }
                <div class="carousel-item @act" data-bs-interval="2000">
                    <a href="@item1.Link"><img class="d-block img-fluid w-100" src="~/UploadFiles/@item1.Picture" alt="slide @j"></a>
                </div>
                j++;
            }
        </div>

        <button class="carousel-control-prev my-auto" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next my-auto" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- Category Section -->
<section>
    <div class="container my-4" style="padding-bottom:40px;">
        <div class="row mt-2">
            <div class="col-md-12 text-center green-underline">
                <h4>MAIN CATEGORY</h4>
            </div>
        </div>
        <section>
            <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2 product-carousel" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top float-end my-3">
                    <a class="btn-floating btn-sm" href="#carousel-example-multi" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating btn-sm" href="#carousel-example-multi" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->
                <!-- Indicators -->
                <ol class="carousel-indicators" style="margin-top:20px;">
                    @foreach (var mc in maincategory)
                    {
                        <li data-target="#carousel-example-multi" data-slide-to="@indicatorcount" class="@indicator"></li>
                        indicatorcount = indicatorcount + 1;
                        indicator = "";
                    }

                </ol>
                <!--/.Indicators-->
                <div class="carousel-inner" role="listbox">
                    @foreach (var mc1 in maincategory)
                    {
                        <div class="carousel-item @mcindicator mx-auto">
                            <div class="col-12 col-md-4 col-lg-2 mx-auto">
                                <div class="card mb-2 rounded-0">
                                    <div class="card-body p-3">
                                        <a onclick="seachcategory(@mc1.MainCategoryID)" style="cursor:pointer">
                                            <img src="~/UploadFiles/@mc1.Picture" class="img-fluid" />
                                            <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">@mc1.CategoryName</h5>
                                            <p class="aqua-sky-text mb-0">@mc1.Remark</p>
                                            <ul class="list-unstyled list-inline my-2">
                                                <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                                <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                                <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                                <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                                <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt mimosa-text"></i></li>
                                            </ul>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        mcindicator = "";
                    }
                </div>
            </div>

        </section>
    </div>
</section>
<!-- Top Product Section -->
<section>
    <div class="container mt-4 mb-5">
        <div class="row mt-2">
            <div class="col-md-12 text-center green-underline">
                <h4>TOP SELLING PRODUCTS</h4>
            </div>
        </div>
        <div class="row mt-4">
            @foreach (DataRow row in Model.Rows)
            {
                <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="card prod-view rounded-0" style="min-height:400px">
                        <div class="prod-item text-center">
                            <div class="prod-img">
                                <div class="option-hover">
                                    <button type="button" onclick="addShopItems(@row["ProductID"];" class="btn btn-success rounded-0">
                                        <i class="icofont icofont-cart-alt f-20"></i>
                                    </button>
                                    <a href="@Url.Action("ProductDetails", "Home",new { id = row["ProductID"] })" class="btn btn-primary rounded-0">
                                        <i class="icofont icofont-list f-20"></i>
                                    </a>
                                    <button type="button" class="btn btn-warning rounded-0">
                                        <i class="icofont icofont-eye-alt f-20"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger rounded-0">
                                        <i class="icofont icofont-heart-alt f-20"></i>
                                    </button>
                                </div>

                                <a href="@Url.Action("ProductDetails", "Home", new { id = row["ProductID"] })" class="hvr-shrink">

                                    @if (row["Picture"].ToString() == "")
                                    {
                                        <img src="~/UploadFiles/product.png" height="200" class="img-fluid o-hidden">
                                    }
                                    else
                                    {
                                        <img src="~/UploadFiles/@row["Picture"].ToString()" class="img-fluid o-hidden">
                                    }
                                </a>

                                @{
                                    if (row["IsNew"].ToString() == "True")
                                    {
                                        <div class="p-new"><a class="no-link" href="#"> New </a></div>
                                    }
                                }
                            </div>
                            <div class="prod-info">
                                <h4 class="text-capitalize text-primary">@row["ProductName"]</h4>
                                <div class="m-b-10">
                                    <label style="color:gold">@row["Rating"] <i class="icofont-star"></i></label>

                                    <a class="text-muted f-w-600 no-link"> @row["View"] <i class="icofont-eye"></i> | @row["Like"] <i class="icofont-like"></i> | @row["DisLike"] <i class="icofont-thumbs-down"></i> </a>
                                </div>
                                <span class="prod-price">@Wom.TextLib.IndianRuppes(row["Rate"].ToString()) <small class="old-price">@Wom.TextLib.IndianRuppes(row["MRP"].ToString())</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="float-end mt-3">
                    <a id="moreprduct" class="more-product no-link-white" href="@Url.Action("Shopping", "Home")">More Products...</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- New Product Section -->
<section>
    <div class="container mt-4 mb-5">
        <div class="row mt-2">
            <div class="col-md-12 text-center green-underline">
                <h4>NEW PRODUCTS</h4>
            </div>
        </div>
        <div class="row mt-4">
            @foreach (DataRow row in Model.Rows)
            {
                @*@foreach (var item in usefullproduct)
                    {*@
                <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="card prod-view rounded-0" style="min-height:425px">
                        <div class="prod-item text-center">
                            <div class="prod-img">
                                <div class="option-hover" style="top:10px;">
                                    <button type="button" onclick="addShopItems(@row["ProductID"];" class="btn btn-success rounded-0">
                                        <i class="icofont icofont-cart-alt f-20"></i>
                                    </button>
                                    <a href="@Url.Action("ProductDetails", "Home",new { id = row["ProductID"] })" class="btn btn-primary rounded-0">
                                        <i class="icofont icofont-list f-20"></i>
                                    </a>
                                    <button type="button" class="btn btn-warning rounded-0">
                                        <i class="icofont icofont-eye-alt f-20"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger rounded-0">
                                        <i class="icofont icofont-heart-alt f-20"></i>
                                    </button>
                                </div>

                                <a href="@Url.Action("ProductDetails", "Home", new { id = row["ProductID"] })" class="hvr-shrink">

                                    @if (row["Picture"].ToString() == "")
                                    {
                                        <img src="~/UploadFiles/product.png" height="200" class="img-fluid o-hidden">
                                    }
                                    else
                                    {
                                        <img src="~/UploadFiles/@row["Picture"].ToString()" class="img-fluid o-hidden">
                                    }
                                </a>

                                @{
                                    if (row["IsNew"].ToString() == "True")
                                    {
                                        <div class="p-new"><a class="no-link" href="#"> New </a></div>
                                    }
                                }
                            </div>
                            <div class="prod-info">
                                <h4 class="text-capitalize text-primary">@row["ProductName"]</h4>
                                <div class="m-b-10">
                                    <label style="color:gold">@row["Rating"] <i class="icofont-star"></i></label>

                                    <a class="text-muted f-w-600 no-link"> @row["View"] <i class="icofont-eye"></i> | @row["Like"] <i class="icofont-like"></i> | @row["DisLike"] <i class="icofont-thumbs-down"></i> </a>
                                </div>
                                <span class="prod-price">@Wom.TextLib.IndianRuppes(row["Rate"].ToString()) <small class="old-price">@Wom.TextLib.IndianRuppes(row["MRP"].ToString())</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="float-end mt-3">
                    <a id="moreprduct" class="more-product no-link-white" href="@Url.Action("Shopping", "Home")">More Products...</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Script for Item slider end-->
<script type="text/javascript">
    $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 3; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>



