@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Wom.Models.dbContext db = new Wom.Models.dbContext();

    var slider = db.SliderModels.Where(x => x.IsDisplay == true).ToList();
    var category = db.CategoryModels.Take(6).ToList();
    var testimonial = db.TestimonialModels.ToList();
}

@model System.Data.DataTable
@using System.Data;

<!-- Latest compiled and minified CSS -->
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="~/css/product-slider.css" rel="stylesheet" />*@
<link href="~/css/product-slider.css" rel="stylesheet" />
<!--for Search Category Wise-->
<script type="text/javascript">
        function seachcategory(id) {
            // call Ajax Method
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SeachProductByCategory")',
                dataType: 'json',
                data: {CatID:id},
                success: function (data) {
                window.location.href = "@Url.Action("Shopping", "Home")";
                }
            });
        }
</script>
<!-- Slider Section -->
<!-- Side Menu Category Section -->

<section>

    <div class="container my-4" style="padding-bottom:40px;">
        <div class="row mt-2">
            <div class="col-md-12 text-center green-underline">
                <h4>MAIN CATEGORY</h4>
            </div>
        </div>
        <section>
            <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2 product-carousel" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top float-end my-3">
                    <a class="btn-floating btn-sm" href="#carousel-example-multi" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating btn-sm" href="#carousel-example-multi" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->
                <!-- Indicators -->
                <ol class="carousel-indicators" style="margin-top:20px;">
                    <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-multi" data-slide-to="1"></li>
                    <li data-target="#carousel-example-multi" data-slide-to="2"></li>
                    <li data-target="#carousel-example-multi" data-slide-to="3"></li>
                    <li data-target="#carousel-example-multi" data-slide-to="4"></li>
                    <li data-target="#carousel-example-multi" data-slide-to="5"></li>
                    <li data-target="#carousel-example-multi" data-slide-to="6"></li>
                    <li data-target="#carousel-example-multi" data-slide-to="7"></li>
                    <li data-target="#carousel-example-multi" data-slide-to="8"></li>
                </ol>
                <!--/.Indicators-->

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active mx-auto">
                        <div class="col-12 col-md-4 col-lg-2 mx-auto">
                            <div class="card mb-2">
                                @*<div class="view overlay">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>*@
                                <div class="card-body p-3">
                                    <img src="~/UploadFiles/Common/Icon2.jpg" class="img-fluid" />
                                    <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Moda</h5>
                                    <p class="aqua-sky-text mb-0">Plan B</p>
                                    <ul class="list-unstyled list-inline my-2">
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt mimosa-text"></i></li>
                                    </ul>
                                    <p class="chili-pepper-text mb-0">9,99 $</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-12 col-md-4 col-lg-2 mx-auto">
                            <div class="card mb-2">
                                @*<div class="view overlay">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>*@
                                <div class="card-body p-3">
                                    <img src="~/UploadFiles/Common/Icon2.jpg" class="img-fluid" />
                                    <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Indie City</h5>
                                    <p class="aqua-sky-text mb-0">Pixies</p>
                                    <ul class="list-unstyled list-inline my-2">
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="far fa-star mimosa-text"></i></li>
                                    </ul>
                                    <p class="chili-pepper-text mb-0">14,99 $</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-12 col-md-4 col-lg-2 mx-auto">
                            <div class="card mb-2">
                                @*<div class="view overlay">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>*@
                                <div class="card-body p-3">
                                    <img src="~/UploadFiles/Common/Icon2.jpg" class="img-fluid" />
                                    <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Indie City</h5>
                                    <p class="aqua-sky-text mb-0">Pixies</p>
                                    <ul class="list-unstyled list-inline my-2">
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="far fa-star mimosa-text"></i></li>
                                    </ul>
                                    <p class="chili-pepper-text mb-0">14,99 $</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-12 col-md-4 col-lg-2 mx-auto">
                            <div class="card mb-2">
                                @*<div class="view overlay">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>*@
                                <div class="card-body p-3">
                                    <img src="~/UploadFiles/Common/Icon2.jpg" class="img-fluid" />
                                    <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Indie City</h5>
                                    <p class="aqua-sky-text mb-0">Pixies</p>
                                    <ul class="list-unstyled list-inline my-2">
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="far fa-star mimosa-text"></i></li>
                                    </ul>
                                    <p class="chili-pepper-text mb-0">14,99 $</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-12 col-md-4 col-lg-2 mx-auto">
                            <div class="card mb-2">
                                @*<div class="view overlay">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>*@
                                <div class="card-body p-3">
                                    <img src="~/UploadFiles/Common/Icon2.jpg" class="img-fluid" />
                                    <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Indie City</h5>
                                    <p class="aqua-sky-text mb-0">Pixies</p>
                                    <ul class="list-unstyled list-inline my-2">
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="far fa-star mimosa-text"></i></li>
                                    </ul>
                                    <p class="chili-pepper-text mb-0">14,99 $</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-12 col-md-4 col-lg-2 mx-auto">
                            <div class="card mb-2">
                                @*<div class="view overlay">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>*@
                                <div class="card-body p-3">
                                    <img src="~/UploadFiles/Common/Icon2.jpg" class="img-fluid" />
                                    <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Indie City</h5>
                                    <p class="aqua-sky-text mb-0">Pixies</p>
                                    <ul class="list-unstyled list-inline my-2">
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="far fa-star mimosa-text"></i></li>
                                    </ul>
                                    <p class="chili-pepper-text mb-0">14,99 $</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-12 col-md-4 col-lg-2 mx-auto">
                            <div class="card mb-2">
                                @*<div class="view overlay">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>*@
                                <div class="card-body p-3">
                                    <img src="~/UploadFiles/Common/Icon2.jpg" class="img-fluid" />
                                    <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Indie City</h5>
                                    <p class="aqua-sky-text mb-0">Pixies</p>
                                    <ul class="list-unstyled list-inline my-2">
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="far fa-star mimosa-text"></i></li>
                                    </ul>
                                    <p class="chili-pepper-text mb-0">14,99 $</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-12 col-md-4 col-lg-2 mx-auto">
                            <div class="card mb-2">
                                @*<div class="view overlay">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>*@
                                <div class="card-body p-3">
                                    <img src="~/UploadFiles/Common/Icon2.jpg" class="img-fluid" />
                                    <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0">Indie City</h5>
                                    <p class="aqua-sky-text mb-0">Pixies</p>
                                    <ul class="list-unstyled list-inline my-2">
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="fas fa-star mimosa-text"></i></li>
                                        <li class="list-inline-item mx-0"><i class="far fa-star mimosa-text"></i></li>
                                    </ul>
                                    <p class="chili-pepper-text mb-0">14,99 $</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </section>

    </div>

</section>

<!-- Top Product -->
<!-- Top Product Section -->
<section>
    <div class="container mt-4 mb-5">
        <div class="row mt-2">
            <div class="col-md-12 text-center green-underline">
                <h4>TOP SELLING PRODUCTS</h4>
            </div>
        </div>
        <div class="row mt-4">
            @foreach (DataRow row in Model.Rows)
            {
                @*@foreach (var item in usefullproduct)
                    {*@
                <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="card prod-view rounded-0" style="min-height:425px">
                        <div class="prod-item text-center">
                            <div class="prod-img">
                                <div class="option-hover" style="top:10px;">
                                    <button type="button" onclick="addShopItems(@row["ProductID"];" class="btn btn-success rounded-0">
                                        <i class="icofont icofont-cart-alt f-20"></i>
                                    </button>
                                    <a href="@Url.Action("ProductDetails", "Home",new { id = row["ProductID"] })" class="btn btn-primary rounded-0">
                                        <i class="icofont icofont-list f-20"></i>
                                    </a>
                                    <button type="button" class="btn btn-warning rounded-0">
                                        <i class="icofont icofont-eye-alt f-20"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger rounded-0">
                                        <i class="icofont icofont-heart-alt f-20"></i>
                                    </button>
                                </div>

                                <a href="@Url.Action("ProductDetails", "Home", new { id = row["ProductID"] })" class="hvr-shrink">

                                    @if (row["Picture"].ToString() == "")
                                    {
                                        <img src="~/UploadFiles/product.png" height="200" class="img-fluid o-hidden">
                                    }
                                    else
                                    {
                                        <img src="~/UploadFiles/@row["Picture"].ToString()" class="img-fluid o-hidden">
                                    }
                                </a>

                                @{
                                    if (row["IsNew"].ToString() == "True")
                                    {
                                        <div class="p-new"><a class="no-link" href="#"> New </a></div>
                                    }
                                }
                            </div>
                            <div class="prod-info">
                                <h4 class="text-capitalize text-primary">@row["ProductName"]</h4>
                                <div class="m-b-10">
                                    <label style="color:gold">@row["Rating"] <i class="icofont-star"></i></label>

                                    <a class="text-muted f-w-600 no-link"> @row["View"] <i class="icofont-eye"></i> | @row["Like"] <i class="icofont-like"></i> | @row["DisLike"] <i class="icofont-thumbs-down"></i> </a>
                                </div>
                                <span class="prod-price">@Wom.TextLib.IndianRuppes(row["Rate"].ToString()) <small class="old-price">@Wom.TextLib.IndianRuppes(row["MRP"].ToString())</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="float-end mt-3">
                    <a id="moreprduct" class="more-product no-link-white" href="@Url.Action("Shopping", "Home")">More Products...</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- New Product Section -->
<section>
    <div class="container mt-4 mb-5">
        <div class="row mt-2">
            <div class="col-md-12 text-center green-underline">
                <h4>NEW PRODUCTS</h4>
            </div>
        </div>
        <div class="row mt-4">
            @foreach (DataRow row in Model.Rows)
            {
                @*@foreach (var item in usefullproduct)
                    {*@
                <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="card prod-view rounded-0" style="min-height:425px">
                        <div class="prod-item text-center">
                            <div class="prod-img">
                                <div class="option-hover" style="top:10px;">
                                    <button type="button" onclick="addShopItems(@row["ProductID"];" class="btn btn-success rounded-0">
                                        <i class="icofont icofont-cart-alt f-20"></i>
                                    </button>
                                    <a href="@Url.Action("ProductDetails", "Home",new { id = row["ProductID"] })" class="btn btn-primary rounded-0">
                                        <i class="icofont icofont-list f-20"></i>
                                    </a>
                                    <button type="button" class="btn btn-warning rounded-0">
                                        <i class="icofont icofont-eye-alt f-20"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger rounded-0">
                                        <i class="icofont icofont-heart-alt f-20"></i>
                                    </button>
                                </div>

                                <a href="@Url.Action("ProductDetails", "Home", new { id = row["ProductID"] })" class="hvr-shrink">

                                    @if (row["Picture"].ToString() == "")
                                    {
                                        <img src="~/UploadFiles/product.png" height="200" class="img-fluid o-hidden">
                                    }
                                    else
                                    {
                                        <img src="~/UploadFiles/@row["Picture"].ToString()" class="img-fluid o-hidden">
                                    }
                                </a>

                                @{
                                    if (row["IsNew"].ToString() == "True")
                                    {
                                        <div class="p-new"><a class="no-link" href="#"> New </a></div>
                                    }
                                }
                            </div>
                            <div class="prod-info">
                                <h4 class="text-capitalize text-primary">@row["ProductName"]</h4>
                                <div class="m-b-10">
                                    <label style="color:gold">@row["Rating"] <i class="icofont-star"></i></label>

                                    <a class="text-muted f-w-600 no-link"> @row["View"] <i class="icofont-eye"></i> | @row["Like"] <i class="icofont-like"></i> | @row["DisLike"] <i class="icofont-thumbs-down"></i> </a>
                                </div>
                                <span class="prod-price">@Wom.TextLib.IndianRuppes(row["Rate"].ToString()) <small class="old-price">@Wom.TextLib.IndianRuppes(row["MRP"].ToString())</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="float-end mt-3">
                    <a id="moreprduct" class="more-product no-link-white" href="@Url.Action("Shopping", "Home")">More Products...</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Item slider end-->
<script type="text/javascript">
    $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 3; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>



