@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Wom.Models.dbContext db = new Wom.Models.dbContext();

    var slider = db.SliderModels.Where(x => x.IsDisplay == true).ToList();
    var category = db.CategoryModels.Take(6).ToList();
    var testimonial = db.TestimonialModels.ToList();
    int i = 0; int j = 0; string act = "";
}

@model System.Data.DataTable
@using System.Data;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

<!--for Search Category Wise-->
<script type="text/javascript">
        function seachcategory(id) {
            // call Ajax Method
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SeachProductByCategory")',
                dataType: 'json',
                data: {CatID:id},
                success: function (data) {
                window.location.href = "@Url.Action("Shopping", "Home")";
                }
            });
        }
</script>

<style type="text/css">
</style>

<style>
</style>

<!-- Slider Section -->
<section id="sliderbar">
    <!-- Slider -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @foreach (var item in slider)
            {
                if (i == 0) { act = "active"; } else { act = ""; }
                <li data-target="#carouselExampleInterval" data-slide-to="@i" class="@act"></li>
                i++;
            }
        </ol>

        <div class="carousel-inner">
            @foreach (var item1 in slider)
            {
                if (j == 0) { act = "active"; } else { act = ""; }
                <div class="carousel-item @act" data-bs-interval="2000">
                    <a href="@item1.Link"><img class="d-block img-fluid w-100" src="~/UploadFiles/@item1.Picture" alt="slide @j"></a>
                </div>
                j++;
            }
        </div>

        <button class="carousel-control-prev my-auto" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next my-auto" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


<!-- Category Section -->
<section class="mb-4">
    <div class="container">

        <div class="row mt-3 ">
            <div class="col-md-12 text-center green-underline">
                <h4>NEELKANTH PRODUCTS RANGE</h4>
            </div>
        </div>

        <div class="row mt-3">

            @foreach (var item1 in category)
            {

                <div class="col-md-2 text-center">
                    <a onclick="seachcategory(@item1.CategoryID)" class="no-link">
                        <div class="text-center mb-3 image-box">
                            <img src="~/UploadFiles/@item1.Picture" class="img-fluid" />
                        </div>
                        <h6 class="text-uppercase">@item1.CategoryName</h6>
                    </a>
                </div>
            }
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="float-end mt-3">
                    <a id="moreprduct" class="more-product no-link-white" href="@Url.Action("Shopping", "Home")">More Category...</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Text Cut-Out -->

<section class="mb-5">
    <div class="image-container">
        <div class="cut-out">NEELKANTH PHARMACY</div>
    </div>
</section>

<!-- Top Product Section -->
<section>
    <div class="container mt-4 mb-5">
        <div class="row">
            <div class="col-md-12 text-center green-underline">
                <h4>TOP USEFULL PRODUCTS</h4>
            </div>
        </div>
        <div class="row">
            @foreach (DataRow row in Model.Rows)
            {
                @*@foreach (var item in usefullproduct)
                    {*@
                <div class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="card prod-view rounded-0" style="min-height:425px">
                        <div class="prod-item text-center">
                            <div class="prod-img">
                                <div class="option-hover" style="top:10px;">
                                    <button type="button" onclick="addShopItems(@row["ProductID"];" class="btn btn-success rounded-0">
                                        <i class="icofont icofont-cart-alt f-20"></i>
                                    </button>
                                    <a href="@Url.Action("ProductDetails", "Home",new { id = row["ProductID"] })" class="btn btn-primary rounded-0">
                                        <i class="icofont icofont-list f-20"></i>
                                    </a>
                                    <button type="button" class="btn btn-warning rounded-0">
                                        <i class="icofont icofont-eye-alt f-20"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger rounded-0">
                                        <i class="icofont icofont-heart-alt f-20"></i>
                                    </button>
                                </div>

                                <a href="@Url.Action("ProductDetails", "Home", new { id = row["ProductID"] })" class="hvr-shrink">

                                    @if (row["Picture"].ToString() == "")
                                    {
                                        <img src="~/UploadFiles/product.png" height="200" class="img-fluid o-hidden">
                                    }
                                    else
                                    {
                                        <img src="~/UploadFiles/@row["Picture"].ToString()" class="img-fluid o-hidden">
                                    }
                                </a>

                                @{
                                    if (row["IsNew"].ToString() == "True")
                                    {
                                        <div class="p-new"><a class="no-link" href="#"> New </a></div>
                                    }
                                }
                            </div>
                            <div class="prod-info">
                                <h4 class="text-capitalize text-primary">@row["ProductName"]</h4>
                                <div class="m-b-10">
                                    <label style="color:gold">@row["Rating"] <i class="icofont-star"></i></label>

                                    <a class="text-muted f-w-600 no-link"> @row["View"] <i class="icofont-eye"></i> | @row["Like"] <i class="icofont-like"></i> | @row["DisLike"] <i class="icofont-thumbs-down"></i> </a>
                                </div>
                                <span class="prod-price">@Wom.TextLib.IndianRuppes(row["Rate"].ToString()) <small class="old-price">@Wom.TextLib.IndianRuppes(row["MRP"].ToString())</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="float-end mt-3">
                    <a id="moreprduct" class="more-product no-link-white" href="@Url.Action("Shopping", "Home")">More Products...</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Icon Section -->
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 left-content">
                <div class="ayurved">
                    आयुर्वेद एक अमृत है।
                </div>
                <div class="plant-base">
                    Clean <br />
                    <span style="color:yellow">Plant</span> Based
                </div>
                <div class="natural">
                    <img src="~/UploadFiles/Common/Icon100.png" />
                    <img src="~/UploadFiles/Common/IconNo.png" />
                </div>
            </div>
            <div class="col-md-8 triangle" style="font-size:9.5px">

                <div class="row">
                    <div class="col-md-12 text-center green-underline">
                        <h4>ADD EVEN BETTER WITH US </h4>
                    </div>
                </div>

                <div class="text-center icon-box">
                    <img src="~/UploadFiles/Common/Ico1.webp" class="img-fluid" />
                    <p class="mt-2">Soy Free</p>
                </div>

                <div class="text-center icon-box">
                    <img src="~/UploadFiles/Common/Ico2.webp" class="img-fluid" />
                    <p class="mt-2">Gluten Free</p>
                </div>

                <div class="text-center icon-box">
                    <img src="~/UploadFiles/Common/Ico3.webp" class="img-fluid" />
                    <p class="mt-2">Non GMO</p>
                </div>

                <div class="text-center icon-box">
                    <img src="~/UploadFiles/Common/Ico4.webp" class="img-fluid" />
                    <p class="mt-2">No Side Effects</p>
                </div>

                <div class="text-center icon-box">
                    <img src="~/UploadFiles/Common/Ico5.webp" class="img-fluid" />
                    <p class="mt-2">No Trans Fat</p>
                </div>

                <div class="text-center icon-box">
                    <img src="~/UploadFiles/Common/Ico6.webp" class="img-fluid" />
                    <p class="mt-2">Lactose Free</p>
                </div>

                <div class="text-center icon-box">
                    <img src="~/UploadFiles/Common/Ico7.webp" class="img-fluid" />
                    <p class="mt-2">No Preservatives</p>
                </div>

                <div class="text-center icon-box">
                    <img src="~/UploadFiles/Common/Ico8.webp" class="img-fluid" />
                    <p class="mt-2">No Artificial Sweeteners</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Membership Section -->
<section>
    <div class="parent">
        <img src="~/UploadFiles/Common/getregistion.webp" type="image/webp" alt="Notebook" style="width:100%">
        <div class="text">
            <h4 class="text-center">GET MEMBERSHIPS</h4>
            <p class="text-center">
                Get membership of Womkanth and get exciting offer according to membership package.
            </p>
            <div class="row">
                <div class="col-md-4 col-4 text-center"><a id="moreprduct" class="more-product no-link-white" href="@Url.Action("Package", "Home")">Silver</a></div>
                <div class="col-md-4 col-4 text-center"><a id="moreprduct" class="more-product no-link-white" href="@Url.Action("Package", "Home")">Gold</a></div>
                <div class="col-md-4 col-4 text-center"><a id="moreprduct" class="more-product no-link-white" href="@Url.Action("Package", "Home")">Diamond</a></div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial Section -->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center green-underline">
                <h4 style="color:black">TESTIMONIAL</h4>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="testimonial-bg">
                    <div id="testimonial-slider" class="owl-carousel">

                        @foreach (var item8 in testimonial)
                        {
                            <div class="testimonial">
                                <p class="description">
                                    @item8.Testimonial
                                </p>
                                <div class="pic">
                                    <img src="~/UploadFiles/@item8.Picture" />
                                </div>
                                <h3 class="title">@item8.Title</h3>
                                <span class="post">@item8.QuoteBy</span>
                            </div>
                        }



                        @*<div class="testimonial">
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at augue sed elit eleifend tempus. Etiam malesuada vulputate justo quis bibendum. Nam maximus ultricies rhoncus. Ut non felis vel enim dapibus.
                                </p>
                                <div class="pic">
                                    <img src="images/img-2.jpg" alt="">
                                </div>
                                <h3 class="title">kristiana,</h3>
                                <span class="post">Web Designer</span>
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Slider Play Automatic -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#testimonial-slider").owlCarousel({
            items: 1,
            itemsDesktop: [1000, 1],
            itemsDesktopSmall: [979, 1],
            itemsTablet: [768, 1],
            pagination: false,
            navigation: true,
            navigationText: ["", ""],
            autoPlay: true
        });
    });
</script>

