@{
    ViewBag.Title = "c";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.2.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/ajax-modules.js"></script>

<script type="text/javascript">
    function refreshCaptcha() {
        $.ajax({
            type: "POST",
            url: "/Login/RefereceCaptcha",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: OnSuccess1,
            failure: function (data) {
                alert(data.d);
            }
        });
    }
    function OnSuccess1(data) {
        d = new Date();
        $('#captcha').attr("src", "/UploadFiles/captcha.jpg?" + d.getTime());
    }
</script>
<script>
    SetInputMobile('Mobile');
</script>
<script type="text/javascript">
    function uploadImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#customerpic')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script type="text/javascript">
    // Get State List
    $(document).ready(function () {
        $("#State").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Share/StateAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.StateName, value: item.StateName, id: item.StateID };
                        }))
                    },
                })
            },
            select: function (event, ui) {
                // alert(ui.item.id);
                $("#State").val(ui.item.id);
                // $('#CusID').val(response);
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>
<script type="text/javascript">
    // Get City List
    $(document).ready(function () {
        $("#City").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Share/CityAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CityName, value: item.CityName, id: item.CityID };
                        }))
                    },
                })
            },
            select: function (event, ui) {
                // alert(ui.item.id);
                $("#City").val(ui.item.id);
                // $('#CusID').val(response);
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

<div class="container mt-4 mb-5">
    <div class="row animated slideInDown">
        <div class="col-md-9 offset-md-3 green-underline">
            <h4>Registration Form</h4>
        </div>
    </div>
    <div class="row mt-3 animated slideInUp">
        <div class="col-md-3" style="margin-bottom:20px;">
            <img src="~/UploadFiles/contactus.jpg" class="img-fluid" />
        </div>
        <div class="col-md-9">
            @using (Html.BeginForm("Registration", "Home", FormMethod.Post, new { id = "registrationform", name = "registrationform", enctype = "multipart/form-data" }))
            {
                <div class="form-group row">
                    @Html.Label("Referal Code", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        @Html.TextBox("RegistrationNo", @Session["RefCode"], htmlAttributes: new { @class = "form-control mb-3 rounded-0", @readonly = "readonly" })
                        @Html.ValidationMessage("RegistrationNo", "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        @Html.TextBox("Date", @Session["Date"], htmlAttributes: new { @class = "form-control mb-3 rounded-0", @readonly = "readonly" })
                        @Html.ValidationMessage("Date", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.Label("Mobile *", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        @Html.Editor("Mobile", new { htmlAttributes = new { @class = "form-control mb-3 rounded-0", maxlength = "10" } })
                        @Html.ValidationMessage("Mobile", "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("Password *", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        @Html.Password("Password", "", htmlAttributes: new { @class = "form-control mb-3 rounded-0" })
                        @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Email *", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-10">
                        @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control mb-3 rounded-0" } })
                        @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.Label("Customer Name *", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-10">
                        @Html.Editor("CustomerName", new { htmlAttributes = new { @class = "form-control mb-3 rounded-0" } })
                        @Html.ValidationMessage("CustomerName", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-10">
                        @Html.TextArea("Address", "", htmlAttributes: new { @class = "form-control mb-3 rounded-0" })
                        @Html.ValidationMessage("Address", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.Label("City", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        @Html.Editor("City", new { htmlAttributes = new { @class = "form-control mb-3 rounded-0" } })
                        @Html.ValidationMessage("City", "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("State", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-4">
                        @Html.Editor("State", new { htmlAttributes = new { @class = "form-control mb-3 rounded-0" } })
                        @Html.ValidationMessage("State", "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />

                <div class="form-group row">
                    @Html.Label("Customer Photo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <p>Customer Photo 200px X 300px</p>
                        <img id="customerpic" src="" alt="" class="img-fluid img-thumbnail" />
                    </div>
                    <div class="col-md-4 float-end">
                        <input type='file' name="FileUpload" onchange="uploadImage(this);" class="btn btn-success rounded-0" />
                    </div>
                </div>

                <div class="form-group row">
                    @Html.Label("Captcha Code", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-sm-4">
                        @Html.TextBox("CaptchaCode", null, new { required = "Please enter captcha code", placeholder = "Captcha Code", @class = "form-control mb-3 rounded-0", maxlength = "6" })

                    </div>
                    <div class="col-sm-4">
                        <img id="captcha" src="~/UploadFiles/captcha.jpg?" + new Date().getTime(); />
                    </div>
                    <div class="col-sm-2">
                        <button id="refCpatcha" type="button" onclick="refreshCaptcha();" class="btn btn-primary float-end"><i class="icofont icofont-refresh"></i></button>
                    </div>
                </div>
                <hr />
                <div class="form-group row mb-2">
                    <div class="col-sm-10 offset-sm-2">
                        <div class=" float-end">
                            @Html.CheckBox("AcceptTerms", htmlAttributes: new { @class = "control-label" }) I accept <b>Terms & Conditions.</b>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="submit" value="Register" class="more-product float-end" />
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-sm-10 offset-sm-2 ">
                        <label class="control-label float-end">
                            Already have an account <b style="color:blue"> <a style="text-decoration:none" href="@Url.Action("Index", "Login")">Login</a></b> hare.
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

