@model IEnumerable<Wom.Models.ShopTransaction>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    double TotalAmount = 0;
    double TotalGST = 0;
    double SubTotal=0;
    double TotalDelivery = 0;
    double GrandTotal = 0;
}  
<!--for Add Shopping Trans Data-->
<script type="text/javascript"> 
        function updateShopItems(id) {
            var itemid, qty;
            itemid = id;
            qty = $("#text" + id).val();
        // call Ajax Method
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RefSTransData")',
            dataType: 'json',
            data: {iID:itemid, iQty:qty},
            success: function (data) {
                    window.location.href = "@Url.Action("ShoppingChart", "Home")";
                    //DisplayData(data);
                }
            });
    }
</script>
<section class="mt-3 mb-3">
    <div class="container">       
    <div class="row mt-3">
                        <div class="col-sm-6 col-6">
                            <h4> Your Shopping Cart </h4>
                        </div>
                        <div class="col-sm-6 col-6">
                            <a href="@Url.Action("Shopping", "Home")" class="more-product no-link-white float-end">Add More Product</a>
                        </div>
                    </div>
    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th width="400px" align="left" class="text-left">Product Name</th>
                                                <th>Qty</th>
                                                <th class="text-right">Rate</th>
                                                <th class="text-right">Amount</th>
                                                <th>Update</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr class="odd">
                                                    <td class="pro-list-img" tabindex="0">
                                                        <img src="~/UploadFiles/@item.ItemPicture" class="img-fluid" width="125" alt="tbl">
                                                    </td>
                                                    <td class="text-end">
                                                        @item.ItemName
                                                        <br>Delivery Charge : @item.DeliveryCharge
                                                    </td>

                                                    <td style="width:30px">
                                                        <input type="number" id="text@(item.SerNo)" class="form-control" style="min-width:60px" value="@item.Quantity">

                                                    </td>
                                                    <td class="text-end">
                                                        @item.Rate
                                                    </td>
                                                    <td class="text-end">@item.Amount</td>

                                                    <td class="action-icon text-center">
                                                        <button type="button" id="@item.SerNo" onclick="updateShopItems(this.id)" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Update"><i class="icofont icofont-refresh"></i></button>
                                                    </td>
                                                    <td class="action-icon text-center">
                                                        <a href="@Url.Action("RemovSTransData", "Home",new { id = item.SerNo })" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="icofont icofont-delete-alt"></i></a>
                                                    </td>
                                                </tr>

                                                TotalAmount = TotalAmount + Wom.TextLib.RemoveIndianCulture(item.Amount);
                                                TotalGST = TotalGST + Wom.TextLib.RemoveIndianCulture(item.GSTAmount);
                                                TotalDelivery = TotalDelivery + Wom.TextLib.RemoveIndianCulture(item.DeliveryCharge);

                                                //TotalAmount = Neel.TextLib.RemoveIndianCulture(item.TotalAmount);
                                                //TotalGST = Neel.TextLib.RemoveIndianCulture(item.GSTAmount);
                                                //SubTotal = TotalAmount + TotalGST;
                                                //TotalDelivery = Neel.TextLib.RemoveIndianCulture(item.DeliveryTotal);
                                                //GrandTotal = Neel.TextLib.RemoveIndianCulture(item.GrandTotal);
                                            }
                                            @{
                                                SubTotal = TotalAmount + TotalGST;
                                                GrandTotal = SubTotal + TotalDelivery;
                                            }
                                            <tr class="even">
                                                <td colspan="4" class="text-end">Total</td>
                                                <td class="text-end"><b>@Wom.TextLib.IndianRuppes(TotalAmount)</b></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even">
                                                <td colspan="4" class="text-end">GST / IGST</td>
                                                <td class="text-end">@Wom.TextLib.IndianRuppes(TotalGST)</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="even text-success">
                                                <td colspan="4" class="text-end"><b>Sub Total</b></td>
                                                <td class="text-end"><b>@Wom.TextLib.IndianRuppes(SubTotal)</b></td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                            @*@if (SubTotal < 1000)
                                            {
                                                <tr class="text-danger">
                                                    <td colspan="4" class="text-end"><b>Delivery Charge </b></td>
                                                    <td class="text-end"><b>@Neel.TextLib.IndianRuppes(99)</b></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                                GrandTotal = GrandTotal + 99;
                                            }
                                            else
                                            {*@
                                                <tr class="green-colors">
                                                    <td colspan="4" class="text-end"><b>Delivery Charges</b></td>
                                                    <td class="text-end"><b>@Wom.TextLib.IndianRuppes(TotalDelivery)</b></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                           
                                            <tr class="odd text-primary">
                                                <td colspan="4" class="text-end"><b>Grand Total</b></td>
                                                <td class="text-end"><b>@Wom.TextLib.IndianRuppes(GrandTotal)</b></td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mt-3 mb-3">
                                <a href="@Url.Action("SignInCheckout", "Login")" class="more-product no-link-white float-end">Checkout</a>
                            </div>
                        </div>
                    </div>

               
    </div>
</section>

