@model IEnumerable <Wom.Models.ProductModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--for Add Shopping Trans Data-->
<script type="text/javascript">
    function addShopItems(id) {       
        var itemid, qty;
        itemid = id;
        qty = 1;
        // call Ajax Method
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddShopTransData")',
            dataType: 'json',
            data: {iID:itemid, iQty:qty},
            success: function (data) {              
               
                window.location.href = "@Url.Action("ShoppingChart", "Home")";
                //DisplayData(data);                
            }
        });
    }
</script>

<div class="container">
    <!-- Product list start -->
    <div class="row mt-4 mb-5">
        @foreach (var item in Model)
        {
            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 mb-3">
                <div class="card prod-view rounded-0" style="min-height:500px">
                    <div class="prod-item text-center">
                        <div class="prod-img">
                            <div class="option-hover" style="top:10px;">
                                <button type="button" onclick="addShopItems(@item.ProductID);" class="btn btn-success rounded-0">
                                    <i class="icofont icofont-cart-alt f-20"></i>
                                </button>
                                <a href="@Url.Action("ProductDetails", "Home",new { id = item.ProductID })" class="btn btn-primary rounded-0">
                                    <i class="icofont icofont-list f-20"></i>
                                </a>
                                <button type="button" class="btn btn-warning rounded-0">
                                    <i class="icofont icofont-eye-alt f-20"></i>
                                </button>
                                <button type="button" class="btn btn-danger rounded-0">
                                    <i class="icofont icofont-heart-alt f-20"></i>
                                </button>
                            </div>

                            <a href="@Url.Action("ProductDetails", "Home", new { id = item.ProductID })" class="hvr-shrink">

                                @if (item.Picture == "")
                                {
                                    <img src="~/UploadFiles/product.png" height="200" class="img-fluid o-hidden">
                                }
                                else
                                {
                                    <img src="~/UploadFiles/@item.Picture" class="img-fluid o-hidden">
                                }
                            </a>

                            @{
                                if (@item.IsNew == true)
                                {
                                    <div class="p-new"><a class="no-link" href="#"> New </a></div>
                                }
                            }
                        </div>
                        <div class="prod-info">
                            <h4 class="text-capitalize text-primary">@item.ProductName</h4>
                            <div class="m-b-10">
                                <label style="color:gold">@item.Rating <i class="icofont-star"></i></label>

                                <a class="text-muted f-w-600 no-link"> @item.View <i class="icofont-eye"></i> | @item.Like <i class="icofont-like"></i> | @item.DisLike <i class="icofont-thumbs-down"></i> </a>
                            </div>
                            <span class="prod-price">@Wom.TextLib.IndianRuppes(@item.Rate) <small class="old-price">@Wom.TextLib.IndianRuppes(@item.MRP)</small></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
